<div class="h-[100dvw] md:h-[100dvh] w-screen flex flex-col items-start justify-end overflow-hidden px-5 rotate-[-90deg] md:rotate-0">
    <img 
        src="/PORTFOLIO/images/hero-me-2.png"
        class="rotate-90 opacity-[50%] transform translate-y-25 -translate-x-18 md:hidden"
        alt="image"
    >

    <h1 class="text-transparent bg-clip-text bg-gradient-to-r from-[#9A9A9A] to-[#BBBBBB] text-[30vw] md:text-[26vw] md:text-[25vw] tracking-[-1%] leading-[100%] font-johmuria transform translate-y-[40%] uppercase">Abdhulla K</h1>
    
    <div class="relative">
        @for(hilite of hilights(); track $index; let mainIndex = $index) {
            <h1 
                [class]="{'absolute': mainIndex !== currentIndex}"
                class="text-transparent bg-clip-text bg-gradient-to-r from-[#9A9A9A] to-[#BBBBBB] text-[15vw] md:text-[13vw] md:text-[11vw]  leading-[100%] font-johmuria ">
                @for(word of getText(mainIndex); track $index; let index = $index) {
                    @for(spn of word; track $index) {
                        <span 
                            class="opacity-0"
                            [class]="'text-spn' + mainIndex"
                        >{{ spn }}</span>
                    }
    
                    <!-- Add space between words --> 
                    <span>&nbsp;</span>
                }
            </h1>
        }
    </div>
</div>