<app-section-layout>
  <div
    class="flex flex-col md:grid gap-5 xl:gap-0 lg:grid-cols-15 gird-rows-5 py-5 pb-20"
  >
    <!-- About news -->
    <div class="col-span-11 row-span-3">
      <h2
        class="font-Judson font-bold text-[20px] leading-[125%] sm:text-[6vw] md:text-[25px] lg:text-[35px] xl:text-[4vw] 2xl:text-[60px] 2xl:leading-[100%] mb-3 outlined-text uppercase"
      >
        THE HUNT IS OVER: MYSTERY ENGINEER LOCATED!
      </h2>
      <div
        class="text-lg lg:text-xl font-Judson min-[400px]:columns-2 sm:columns-3 lg:columns-2 xl:columns-4 gap-5 xl:gap-6 xl:pr-16"
      >
        <img [src]="'/PORTFOLIO/engineer.png'" alt="" class="w-full" />
        <p class="text-sm py-2">Abdhulla K, Software engineer</p>

        <p class="text-lg lg:text-xl">
          <span class="font-bold">Dateline — Code Alley:</span>
          In the flicker of neon terminals and the hum of silicon minds, master
          developer Abdhulla K crafts resilient, scale-ready web enterprises and
          LLM-powered architectures — each engineered with the elegance and
          exactitude of a Victorian machinist. His digital forge, alive with the
          hiss of innovation, is powered by Generative AI and orchestrated LLM
          engines that speak, learn, and evolve with uncanny precision. Within
          this workshop of modern codecraft, Abdhulla doesn’t just build — he
          architects ecosystems. From automating complex workflows to spawning
          predictive systems that seem to think for themselves, his creations
          pulse with intention and clarity. For aspiring engineers and
          inquisitive minds, Abdhulla is more than a mentor — he is a
          cartographer of the modern tech frontier, offering pragmatic wisdom,
          sharp critique, and the kind of guidance only earned through deep,
          hands-on battle with the ever-shifting codebase of tomorrow.
        </p>
      </div>
    </div>

    <!-- Dizbo news -->
    <div class="col-span-11 xl:pr-16 lg:pt-0">
      <h2
        class="font-Judson font-bold text-[23px] md:text-[25px] lg:text-[35px] xl:text-[49px] leading-[100%] mb-3 md:break-all xl:pt-8"
      >
        Building Forward: Years of Growth in Tech
      </h2>

      <div
        class="text-lg lg:text-xl font-Judson min-[400px]:columns-2 sm:columns-3 md:columns-2 lg:columns-2 min-[1150px]:columns-3 xl:columns-4 gap-5 xl:gap-6"
      >
        <img
          [src]="'/PORTFOLIO/gallery/diz.png'"
          alt=""
          class="w-full grayscale mb-1"
        />
        <p class="text-lg lg:text-xl">
          <span class="font-bold">Dubai UAE:</span>
          With several years of hands-on experience across companies like Dizabo
          Super App, LevelX Academy, and Baqalat Express, Abdhulla K has
          consistently contributed to the development of impactful, real-world
          applications. His portfolio spans domains including e-commerce, HR
          solutions, investment management, student management systems, and more
          — each presenting unique challenges and opportunities. Throughout
          these roles, Abdhulla has worked with a diverse stack of technologies
          such as the MEAN Stack, Nuxt.js, Vue.js, and Django — demonstrating
          versatility, adaptability, and depth in fast-paced, deadline-driven
          environments. His work reflects a commitment to clean architecture,
          scalable systems, maintainable code, and user-focused design. Each
          project added depth to his technical and collaborative skills,
          reinforcing a foundation for future innovation, continuous learning,
          and meaningful impact in the evolving tech landscape.
        </p>
      </div>
    </div>

    <!-- Varanam 1000 news -->
    <div class="col-span-5 row-span-5 col-start-12 row-start-1">
      <h2
        class="font-Judson font-bold text-[23px] leading-[100%] md:text-[25px] lg:text-[35px] xl:text-[49px] mb-3 text-justify"
      >
        Achievement Unlocked
      </h2>

      <div
        class="text-xl font-Judson min-[400px]:columns-2 sm:columns-3 md:columns-1 lg:columns-1 xl:columns-2 gap-5 xl:gap-6"
      >
        <img
          [src]="'/PORTFOLIO/gallery/3.jpg'"
          alt=""
          class="w-full grayscale mb-1"
        />
        <!-- <p class="text-sm py-2">from brocamp 1000 placement celebration</p> -->
        <p class="text-lg lg:text-xl">
          <span class="font-bold">Calicut, Kerala, 2022:</span>
          Btototype Institute held a grand ceremony this week to honor its
          alumni, celebrating their accomplishments and growth since completing
          their training programs. Among the honored was Abdhulla K, a standout
          alumnus recognized for his performance during the MEAN Stack Developer
          Program. Abdhulla completed the six-month program, mastering core MEAN
          stack technologies and advancing through topics beyond the curriculum,
          including Django and Python. During his time at the institute, he
          developed real-world projects — notably an e-commerce platform, an
          e-learning application, and various mini-projects showcasing technical
          depth and practical problem-solving. As a top intern and learner,
          Abdhulla received a certificate of excellence and gifts from the
          institution. His journey exemplifies the spirit of Btototype —
          nurturing developers who don’t just follow trends but build the future
          of technology.
        </p>
      </div>
    </div>
  </div>
</app-section-layout>
