
<app-default>
   <div class="relative flex justify-center flex-col w-screen max-w-max-limit h-screen">

        <h1 class="text-white text-[150px] md:text-[200px] z-10 absolute right-20 bottom-0">Dizabo Memories</h1>

        <div class="h-full w-full flex  items-center justify-end md:justify-between backdrop-blur-sm absolute left-0 top-0 z-20 relative">
            <img src="/gallery/3.jpg" alt="" class="w-[50vw] md:w-[30vw] md:w-[30vw] transform translate-y-[200%]  md:transform md:translate-y-[100%] absolute md:relative">

            <div class="flex  items-center justify-end">
                <img src="/gallery/1.jpg" alt="" class="w-[30vw] md:w-[15vw]  transform translate-y-[-10%]">
                
                <div>
                    <img src="/gallery/4.jpeg" alt="" class="w-[30vw] md:w-[15vw] transform translate-y-[-10%] z-5">
                    <img src="/gallery/2.jpeg" alt="" class="w-[30vw] md:w-[15vw]  transform translate-y-[-10%]">
                </div>
            </div>
        </div>
   </div>
</app-default>