<app-section-layout>
  <div
    class="w-full flex flex-col sm:flex-row gap-0 md:gap-5 justify-start sm:justify-between items-center min-h-10 py-1 sm:py-0"
  >
    <a href="mailto:work.abdhulla@gmail.com" class="cursor-pointer">
      <p class="text-sm sm:text-md lg:text-lg">contact</p>
    </a>
    <div class="flex glex-col gap-5 justify-center items-center">
      <!-- <p>bltext-sm sm:text-mdogs</p> -->
      <a
        href="http://instagram.com/_abdhulla_k"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p
          class="text-sm sm:text-md lg:text-lg hover:text-black transition-color duration-300"
        >
          Instagram
        </p>
      </a>
      <a
        href="https://www.linkedin.com/in/abdhulla-k-63ab71207/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p
          class="text-sm sm:text-md lg:text-lg hover:text-black transition-color duration-300"
        >
          LinkedIn
        </p>
      </a>

      <a
        href="https://github.com/abdhulla-k"
        target="_blank"
        rel="noopener noreferrer"
      >
        <p
          class="text-sm sm:text-md lg:text-lg hover:text-black transition-color duration-300"
        >
          GitHub
        </p>
      </a>
    </div>
  </div>
</app-section-layout>
