<app-section-layout>
  <div
    class="w-full flex flex-col sm:flex-row gap-0 md:gap-5 justify-start sm:justify-between items-center min-h-10"
  >
    <p class="text-sm sm:text-md lg:text-lg">
      Mentorfresh © 2025 All Rights Reserved.
    </p>
    <div class="flex glex-col gap-5 justify-center items-center">
      <!-- <p>bltext-sm sm:text-mdogs</p> -->
      <p class="text-sm sm:text-md lg:text-lg">instagram</p>
      <p class="text-sm sm:text-md lg:text-lg">linkedIn</p>
      <p class="text-sm sm:text-md lg:text-lg">github</p>
    </div>
  </div>
</app-section-layout>
